<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServerConnection" connectionString="Data Source=DESKTOP-D0I38LC\SQLEXPRESS2022;Initial Catalog=AdventureWorks2022;Integrated Security=True;Trust Server Certificate=True" providerName="Sql.Data.SqlClient" />
		<add name="OracleConnection" connectionString="Data Source=DESKTOP-D0I38LC\SQLEXPRESS2022;Initial Catalog=AdventureWorks2022;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.OracleClient" />
		<add name="OleDBConnection" connectionString="Data Source=DESKTOP-D0I38LC\SQLEXPRESS2022;Initial Catalog=AdventureWorks2022;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.OleDb" />
		<add name="ODBCConnection" connectionString="Data Source=DESKTOP-D0I38LC\SQLEXPRESS2022;Initial Catalog=AdventureWorks2022;Integrated Security=True;Trust Server Certificate=True" providerName="System.Data.Odbc" />
		<add name="SqLiteConnection" connectionString="Data Source=Information_tool_data.db" providerName="System.Data.SQLite" />
		<add name="PostgareSqlConnection" connectionString="Host=localhost;Port=5432;Database=PostGarAvocetDb;Pooling=true;Connection Lifetime=0;" providerName="Npgsql" />
	</connectionStrings>
</configuration>