<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConn" connectionString="Data Source=DESKTOP-D0I38LC\SQLEXPRESS2022;Initial Catalog=AdventureWorks2022;Integrated Security=True;Trust Server Certificate=True" providerName="Sql.Data.SqlClient" />
	</connectionStrings>
</configuration>